
<div id="planet-details-component">
  <b-button class="fm-abs left-1 top-1"href="/planets" variant="secondary">Go back</b-button>
  <div class="col-md-6 pt-5 mt-5 m-auto" data-aos="fade-up"
      v-bind:data-aos-offset="100"
      v-bind:data-aos-delay="100"
      data-aos-duration="500"
      data-aos-easing="ease-in-out">
    <div v-if="planet.name">
      <b-card no-body>

        <b-card-body>
          <b-card-title>{{planet.name}}</b-card-title>
        </b-card-body>

        <b-list-group flush>
          <b-list-group-item>Gravity: {{planet.gravity}}</b-list-group-item>
          <b-list-group-item>Orbital period: {{planet.orbital_period}}</b-list-group-item>
          <b-list-group-item>Population: {{planet.population}}</b-list-group-item>
          <b-list-group-item>Climate: {{planet.climate}}</b-list-group-item>
          <b-list-group-item>Diameter: {{planet.diameter}}</b-list-group-item>
          <b-list-group-item>Surface water: {{planet.surface_water}}</b-list-group-item>
          <b-list-group-item>Terrain: {{planet.terrain}}</b-list-group-item>
          <b-list-group-item class="fm-df fm-aliic fm-juce fm-flww" v-if="planet.residents && planet.residents.length">
            <b-button v-for="(resident, index) in planet.residents" class="mx-2 mb-2" type="button" variant="primary" v-bind:href="resident">Resident {{index + 1}}</b-button>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </div>
    <div v-else>
      <b-spinner style="width: 3rem; height: 3rem;"></b-spinner>
    </div>
  </div>

</div>
