<div class="hello">
  <div class="mt-5">
    <h1>{{ msg }}</h1>
    <p class="my-4">
      Your complete Star Wars guide!
    </p>
  </div>
  <h3 class="my-4">Please choose one</h3>
  <ul>
    <li>
      <b-card
        title="People"
        img-src="https://res.cloudinary.com/ducmbpfde/image/upload/v1624627592/luke_dab1ho.jpg"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-button href="/people" variant="primary">View people</b-button>
      </b-card>
    </li>
    <li>
      <b-card
        title="Starships"
        img-src="https://res.cloudinary.com/ducmbpfde/image/upload/v1624627592/starship_tpbpzq.jpg"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-button href="/starships" variant="primary">View starships</b-button>
      </b-card>
    </li>
    <li>
      <b-card
        title="Planets"
        img-src="https://res.cloudinary.com/ducmbpfde/image/upload/v1624627593/planets_fmdkxl.jpg"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-button href="/planets" variant="primary">View planets</b-button>
      </b-card>
    </li>
  </ul>
</div>
