<div id="people-component" >
  <b-button class="fm-abs left-1 top-1"href="/" variant="secondary">Go back</b-button>
  <h1 class="py-5">People</h1>
  <div class="container">
    <div class="row" v-if="people.length">
      <Card data-aos="flip-up"
      v-bind:data-aos-offset="index * 10"
      v-bind:data-aos-delay="index * 100"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      v-for="(item, index) in people" class="col-3 mb-3" v-bind:item="item"></Card>
    </div>
    <div v-else>
      <b-spinner style="width: 3rem; height: 3rem;"></b-spinner>
    </div>
  </div>
  <div class="container" v-if="people.length">
    <div class="fm-df fm-aliic" :class="!rootObject.previous ? 'fm-jucend' : 'fm-jucb'">
      <b-button class="" v-if="rootObject.previous" v-on:click="prevPage" variant="outline-primary">Prev</b-button>
      <b-button class="" v-if="rootObject.next" v-on:click="nextPage" variant="outline-primary">Next</b-button>
    </div>
  </div>
</div>
